* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.about {
    height: 100vh;
    width: 100%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about .main img {
    width: 280px;
    max-width: 100%;
    height: auto;
    padding: 0 10px;
}

.all-text {
    width: 600px;
    max-width: 100%;
    padding: 0 10px;
}

.main {
    width: 1290px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.all-text h4 {
    font-size: 18px;
    color: #777777;
    letter-spacing: 1px;
    font-weight: 400;
    margin-bottom: 10px;
}

.all-text h1 {
    font-size: 48px;
    color: #305040;
    font-weight: 700;
    margin-bottom: 20px;
}

.all-text p {
    font-size: 16px;
    color: #000;
    line-height: 24px;
    margin-bottom: 35px;
}

.btn button {
    height: 3.125rem;
    padding: 0 1.25em;
    border: none;
    font-weight: bold;
    font-size: 14px;
    background-color: #FCF4A3;
    border-radius: 4px;
    cursor: pointer;
}

button a {
    text-decoration: none;
    color: #000;
}

@media screen and (max-width: 950px) {
    .about {
        height: auto;
        width: 100%;
        padding: 60px 0;
    }

    .all-text {
        text-align: center;
        margin-top: 40px;
    }

    .about .main img {
        width: 408px;
    }
}