* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

h1 {
    font-size: 50px;
    line-height: 64px;
    color: #222;
}

h2 {
    font-size: 46px;
    line-height: 54px;
    color: #222;
}

h3 {
    font-size: 32px;
}

h4 {
    font-size: 20px;
    color: #222;
}

h6 {
    font-weight: 700;
    font-size: 12px;
}

p {
    font-size: 16px;
    color: #FCF4A3;
    margin: 15px 0 20px 0;
}

a.no-underline {
    text-decoration: none;
}

a.no-underline h2 {
    color: #FCF4A3;
}

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background-color: #305040;
    position: sticky;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li,
#navbar-test li {
    list-style: none;
    padding: 0 20px;
}

#navbar li a,
#navbar-test li a {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    transition: 0.3s ease;
}

#navbar li .header-cart {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    transition: 0.3s ease;
    cursor: pointer;
}

#navbar li .header-cart:hover {
    color: #FCF4A3;
}

#navbar li a:hover {
    color: #FCF4A3;
}

#mobile, #close, #navbar-test {
    display: none;
}

.hero {
    background:rgba(0, 0, 0, 0.7) url("/client_img/banner.jpg");
    background-blend-mode: darken;
    height: 84vh;
    width: 100%;
    background-size: cover;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.hero h2 {
    color: #fff;
    font-size: 24px;
}

.hero p {
    margin-top: 0;
}

.hero button {
    border: none;
    border-radius: 4px;
    font-weight: bold;
    font-size: 16px;
    padding: 12px 18px;
}

button a {
    text-decoration: none;
    color: #000;
}

.section-p1 {
    padding: 40px 80px;
}

#product1 p {
    color: #01735C;
}

#product1 {
    text-align: center;
}

#product1 .pro {
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;
}

#product1 .pro:hover {
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.05);
}

#product1 .pro img {
    width: 100%;
    border-radius: 20px;
}

#product1 .pro .des {
    text-align: start;
    padding: 10px 0;
}

#product1 .pro .des h5 {
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 14px;
}

#product1 .pro .des h4 {
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: #088178;
}


#product1 .pro .cart {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    position: absolute;
    color: #088178;
    border: 1px solid #cce7d0;
    bottom: 20px;
    right: 10px;   
}

#product1 .pro-container,
#product1 .newarrival-container {
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
    flex-wrap: wrap;
}

#newsletter {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-color: #305040;
    margin: 40px 0;
}

#newsletter h4 {
    font-size: 22px;
    font-weight: 700;
    color: #fff;
}

#newsletter p {
    font-size: 14px;
    font-weight: 600;
}

/* #newsletter p span {
    color: #DBA9C4;
} */

#newsletter .newsletter-form {
    display: flex;
    width: 40%;
}

#newsletter input {
    height: 3.125rem;
    padding: 0 1.25em;
    font-size: 14px;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#newsletter button {
    height: 3.125rem;
    padding: 0 1.25em;
    width: 40%;
    border: none;
    font-weight: bold;
    font-size: 14px;
    background-color: #FCF4A3;
    border-radius: 4px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

footer {
    padding: 0 80px;
}

footer p {
    text-align: center;
    color: #222;
}

#home-footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#home-footer h4 {
    font-size: 18px;
    color: #222;
    margin-bottom: 10px;
}

#home-footer p {
    font-size: 12px;
    color: #222;
    margin: 0 0 8px 0;
}

#home-footer .col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

#home-footer a {
    font-size: 12px;
    text-decoration: none;
    color: #222;
    margin-bottom: 10px;
}

#home-footer h3 {
    color: #58AD4F;
    margin-bottom: 10px;
}

#home-footer span {
    color: #DD4432;
}

#home-footer .follow {
    margin-top: 20px;
}

#home-footer .follow i{
    padding-right: 8px;
    cursor: pointer;
    font-size: 20px;
}

#home-footer .follow .fb {
    color: #0165E1;
}

#home-footer .follow .tw {
    color: #1D9BF0;
}

#home-footer .follow .ig {
    color: #E1306C;
}

#home-footer .follow .pi {
    color: #E60023;
}

/* cart pop up*/
.cart-popup {
    position: fixed;
    top: 0;
    bottom: 0;
    right: -100%;
    width: 360px;
    padding: 20px;
    background-color: #F0F0F0;
    transition: 0.3s ease-in-out;
    overflow-y: scroll;
    overflow-x: hidden;
    z-index: 1;
}

/* #header .cart-popup {
    overflow-y: auto;
} */

.cart-popup.active {
    right: 0;
}

.cart-popup h2 {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    color: #305040;
}

/* .cart-content {
    box-sizing: content-box;
    overflow-x: hidden;
    overflow-y: auto;
} */

.cart-box {
    display: grid;
    grid-template-columns: 32% 50% 18%;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}

.cart-box img {
    width: 100px;
    height: 100px;
    object-fit: contain;
    padding: 10px;
    border-radius: 20px;
}

.detail-box {
    display: grid;
    row-gap: 0.5rem;
}

.product-title {
    font-size: 1rem;
    font-weight: 700;
    text-align: left;
}

.product-price {
    font-weight: 600;
    font-size: 0.8rem;
    text-align: left;
}

.product-quantity {
    border: 1px solid #000;
    border-radius: 2px;
    width: 2.4rem;
    text-align: center;
    font-size: 1rem;
}

.cart-remove {
    font-size: 18px;
    color: #F44336;
    cursor: pointer;
}

.total {
    display: flex;
    justify-content: flex-end;
    margin-top: 1.5rem;
    border-top: 1px solid #CCCCCC;
}

.total div {
    margin-top: 0.5rem;
}

.total-title {
    font-size: 1rem;
    font-weight: 600;
}

.total-figure {
    margin-left: 0.5rem;
}

.cart-popup button {
    display: flex;
    margin: 1.5rem auto 0;
    padding: 12px 16px;
    border: none;
    background-color: #FCF4A3;
    font-size: 0.8rem;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
}

.cart-popup .em-mob {
    margin-top: 10px;
    height: 2rem;
    padding: 0 1.25em;
    font-size: 14px;
    border-radius: 4px;
    border: 1px solid transparent;
    width: 80%;
}

.cart-popup p {
    font-size: 12px;
}

.cart-popup .close-mark {
    position: absolute;
    top: 1rem;
    right: 0.8rem;
    font-size: 1.5rem;
    cursor: pointer;
}

@media (max-width: 799px){
    #navbar {
        display: none;
    }

    #navbar-test {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 240px;
        background-color: #F0F0F0;
        padding: 80px 0 0 10px;
        transition: 0.3s;
    }

    #navbar-test.activo {
        right: 0;
    }

    #navbar-test li {
        margin-bottom: 25px;
    }

    #navbar-test li a {
        color: #305040;
    }

    #mobile {
        display: flex;
        align-items: center;
    }

    #mobile i {
        color: #fff;
        font-size: 24px;
        margin-left: 36px;
    }

    #close {
        display: initial;
        position: absolute;
        top: 30px;
        left: 30px;
        font-size: 24px;
    }

    #shoppin {
        display: none;
    }

    #newsletter .newsletter-form {
        width: 70%;
    }

    /*
    #home-footer .col {
        padding-right: 5px;
    }*/
}

@media (max-width: 477px){
    #header {
        padding: 10px 30px;
    }

    .hero {
        padding: 0 20px;
    }

    #product1 .pro {
        width: 100%;
    }

    .section-p1 {
        padding: 20px 20px;
    }

    #newsletter .newsletter-form {
        width: 100%;
    }

    footer {
        padding: 0 20px;
    }

    .col {
        padding-right: 20px;
    }
}